Repository zvenigorodsky/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    VM_IMAGE_NAME: ${FEDORA_CACHE_IMAGE_NAME}
  script: 'cd image
  
    git remote update
  
    make tools
  
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    VM_IMAGE_NAME: ${FEDORA_CACHE_IMAGE_NAME}
  script: 'cd image
  
    make cross
  
    '

image_test:
  alias: image_test
  depends_on:
  - image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}/image
    GOPATH: /var/tmp/go
  matrix:
  - name: 'Image: Test'
    env:
  ...

image_test_skopeo:
  alias: image_test_skopeo
  depends_on:
  - image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}/image
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

move common/internal/attributedstring into storage/pkg/configfile
  common/go.mod
  common/libnetwork/netavark/netavark_suite_test.go
  common/libnetwork/pasta/pasta_linux_test.go
  common/pkg/config/config.go
  common/pkg/config/default.go
  storage/pkg/configfile/slice.go
  storage/pkg/configfile/slice_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: rewrite option parsing
  storage/drivers/btrfs/btrfs.go
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/overlay/overlay_test.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
  storage/internal/opts/driver.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/store.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage.conf: use custom slice type to allow appending
  storage/pkg/config/config.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: update storage.conf docs
  storage/docs/containers-storage.conf.5.md
  storage/storage.conf
  storage/storage.conf-freebsd
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: no longer warn when the config file has no driver set
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: comment out some defaults from storage.conf
  storage/storage.conf
  storage/storage.conf-freebsd
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage.conf: add warning if both graphroot options are set
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: move driver directory creation into load()
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/types: fix typo in imagestore error
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/types: do not assign config.Storage.Driver
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix broken btrfs min_space option parsing
  storage/pkg/config/config.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: fix typo in rootless_storage_path warning
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: move driver option parsing to separate package
  storage/drivers/btrfs/btrfs.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
  storage/internal/driver/driver.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: add unit tests for ParseDriverOption
  storage/internal/driver/driver_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Actually include the config digest in the TOC computation
  image/storage/storage_dest.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

layers: do not sync the tarsplit file
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

New images 2026-03-19
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

layers: save layer only after tarsplit file
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

system: expose Syncfs
  storage/pkg/system/syncfs_linux.go
  storage/pkg/system/syncfs_unix.go
  storage/pkg/system/syncfs_windows.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: new sync option
  storage/docs/containers-storage.conf.5.md
  storage/drivers/btrfs/btrfs.go
  storage/drivers/driver.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/drivers/zfs/zfs.go
  storage/layers.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/storage.conf
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

layers: add new needsSyncfs flag to save functions
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

overlay: use system function
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

copy: add option to strip sparse manifest lists
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
  image/copy/sign.go
  image/copy/single.go
  image/internal/manifest/docker_schema2_list.go
  image/internal/manifest/docker_schema2_list_test.go
  image/internal/manifest/list.go
  image/internal/manifest/oci_index.go
  image/internal/manifest/oci_index_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Add a machine config for CA certificates import
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/containers.conf
  common/pkg/config/testdata/containers_default.conf
Due: none

Check return value of unix.Sync on e.g. macOS
  storage/pkg/system/syncfs_unix.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Remove a no-longer-used constant
  storage/pkg/config/config_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Make TestPrepareInstanceOpsForInstanceCopy table-driven
  image/copy/multiple_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Only fail if we _strip_ a non-empty image to an empty one
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

image: wrap bare errors in registry pull path
  image/docker/docker_client.go
  image/docker/docker_image.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

layers: GarbageCollect orphaned tar-split and data files
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

btrfs: accept btrfs.size from storage.conf and apply default on RW layers
  storage/drivers/btrfs/btrfs.go
  storage/drivers/btrfs/btrfs_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

common: abort load on ENOSPC and output clear error
  storage/pkg/chrootarchive/archive_unix.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

common: abort on matching ErrorDetails
  common/libimage/load.go
  storage/pkg/chrootarchive/archive_unix.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

common: removed errorDetails from chrootarchive
  common/libimage/load.go
  storage/pkg/chrootarchive/archive_unix.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

common: added appropriate windows depenendency
  common/libimage/load.go
  common/pkg/config/config_unix.go
  common/pkg/config/config_windows.go
Due: none

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: Lint: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Validate: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: codespell: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
