Repository zvenigorodsky/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: Lint: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Validate: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: codespell: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

bump image to v5.37.0
  image/version/version.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

go.mod: update to image v5.37.0
  common/go.mod
  common/go.sum
Due: none

bump common to v0.65.0
  common/version/version.go
Due: none

bump module versions back to -dev
  common/version/version.go
  image/version/version.go
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Packit: fix copr builds
  .packit-copr-rpm.sh
  .packit.yaml
Due: none

Packit: react only on specific tags for downstream jobs
  .packit.yaml
Due: none

Make some seccomp code Linux-only
  common/pkg/seccomp/filter_linux.go
  common/pkg/seccomp/filter_linux_test.go
  common/pkg/seccomp/validate_linux.go
  common/pkg/seccomp/validate_linux_test.go
Due: none

Silence a symbol naming warning, and add a FIXME
  common/pkg/timezone/timezone_unix.go
Due: none

Satisfy the godot linter
  common/pkg/cgroupv2/cgroups_unsupported.go
  common/pkg/config/config_unsupported.go
  common/pkg/config/default_darwin.go
  common/pkg/config/default_unsupported.go
  common/pkg/seccomp/seccomp_unsupported.go
Due: none

Shut up staticcheck SA5011
  common/pkg/manifests/manifests_test.go
Due: none

Avoid unused symbols on non-Linux
  common/libnetwork/slirp4netns/const.go
  common/libnetwork/slirp4netns/const_linux.go
  common/pkg/cgroups/cgroups_unsupported.go
  common/pkg/config/default.go
  common/pkg/config/default_bsd.go
  common/pkg/config/default_linux.go
  common/pkg/config/default_unix_notdarwin.go
  common/pkg/config/default_unsupported.go
  common/pkg/config/default_windows.go
Due: none

common: fix pkg/timezone to only work on linux/freebsd
  common/pkg/timezone/timezone.go
  common/pkg/timezone/timezone_freebsd.go
  common/pkg/timezone/timezone_linux.go
  common/pkg/timezone/timezone_unix.go
  common/pkg/timezone/timezone_windows.go
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

image/docker: Log at debug level if we fail to find size for GetBlob
  image/docker/docker_client.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Add additional `userns` values to containers.conf.5
  common/docs/containers.conf.5.md
  common/pkg/config/containers.conf
Due: none

Define a new layerForCopy struct for buildLayerInfosForCopy
  image/storage/storage_src.go
  image/storage/storage_src_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Define pkg/chunked/toc.ChunkedAnnotations
  storage/pkg/chunked/internal/minimal/compression.go
  storage/pkg/chunked/toc/toc.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Preserve most annotations when pushing layers from c/storage
  image/storage/storage_src.go
  image/storage/storage_src_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Use a correct MIME type when pushing empty layers
  image/storage/storage_src.go
  image/storage/storage_src_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Commit go.work.sum
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Unrelated: silence golancgi-lint on macOS
  storage/drivers/chown_darwin.go
  storage/pkg/archive/archive_unix.go
  storage/pkg/archive/archive_unix_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Unrelated: Use strings.Cut
  common/libimage/filter/filter.go
  common/libimage/filters.go
  common/libimage/image_config.go
  common/libimage/pull.go
  common/libimage/search.go
  common/libnetwork/cni/run.go
  common/libnetwork/etchosts/hosts.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/apparmor/apparmor_linux.go
  common/pkg/auth/auth.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/completion/completion.go
  common/pkg/config/config.go
  common/pkg/hooks/exec/exec_test.go
  common/pkg/ssh/connection_native.go
  common/pkg/subscriptions/subscriptions.go
  common/pkg/timetype/timestamp.go
  common/pkg/version/version.go
  storage/check.go
  storage/drivers/zfs/zfs.go
  storage/internal/opts/opts.go
  storage/internal/opts/opts_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Unrelated: Remove an unused field
  storage/pkg/fileutils/fileutils.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Unrelated: Simplify command execution in storage/pkg/idtools
  storage/pkg/idtools/idtools_unix.go
  storage/pkg/idtools/usergroupadd_linux.go
  storage/pkg/idtools/utils_unix.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Update to Go 1.24
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Fix a bug reported by (go vet)
  common/pkg/hooks/exec/runtimeconfigfilter_test.go
Due: none

Use testing.B.Loop
  storage/drivers/graphtest/graphbench_unix.go
  storage/pkg/archive/archive_test.go
  storage/pkg/chunked/compressor/rollsum_test.go
  storage/pkg/fileutils/exists_test.go
  storage/pkg/ioutils/bytespipe_test.go
  storage/pkg/truncindex/truncindex_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use bytes.SplitSeq
  common/libnetwork/resolvconf/resolvconf.go
  common/pkg/cgroups/utils_linux.go
  common/pkg/secrets/shelldriver/shelldriver.go
  storage/pkg/parsers/operatingsystem/operatingsystem_linux.go
  storage/pkg/system/xattrs_darwin.go
  storage/pkg/system/xattrs_linux.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Don't manually generate certificate serial numbers
  image/signature/fulcio_cert_test.go
  image/signature/pki_cert_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Use strings.FieldsSeq
  common/pkg/cgroups/cgroups_linux.go
Due: none

Use strings.SplitSeq
  common/libnetwork/cni/cni_conversion.go
  common/libnetwork/cni/run.go
  common/libnetwork/pasta/pasta_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/cgroups/cgroups_linux.go
  common/pkg/cgroups/systemd_linux.go
  common/pkg/config/config.go
  common/pkg/hooks/exec/exec_test.go
  common/pkg/ssh/connection_golang.go
  image/openshift/openshift-copies.go
  storage/check.go
  storage/drivers/overlay/mount.go
  storage/drivers/overlay/overlay.go
  storage/drivers/vfs/driver.go
  storage/pkg/archive/changes.go
  storage/pkg/archive/fflags_bsd.go
  storage/pkg/mflag/flag.go
  storage/pkg/mount/flags.go
  storage/pkg/mount/mounter_freebsd.go
  storage/pkg/mount/mounter_linux_test.go
  storage/pkg/parsers/kernel/kernel_darwin.go
  storage/pkg/parsers/parsers.go
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Run modernize
  common/libimage/copier.go
  common/libimage/image.go
  common/libimage/manifest_list.go
  common/libimage/manifests/manifests.go
  common/libimage/search.go
  common/pkg/config/config.go
  common/pkg/config/connections_test.go
  common/pkg/hooks/hooks_test.go
  common/pkg/hooks/monitor_test.go
  common/pkg/hooks/read_test.go
  common/pkg/manifests/manifests.go
  common/pkg/report/formatter.go
  common/pkg/report/template.go
  image/docker/reference/normalize_test.go
  image/docker/reference/reference_test.go
  image/storage/storage_dest.go
  storage/internal/staging_lockfile/staging_lockfile_test.go
  storage/internal/tempdir/tempdir_test.go
  storage/pkg/archive/archive_other.go
  storage/pkg/chunked/compressor/compressor.go
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Run gofix
  common/pkg/report/template.go
Due: none

Inline a single-use variable
  common/libimage/image.go
Due: none

Fix a bug in LookupInstance
  common/libimage/manifest_list.go
Due: none

storage/internal/tempdir: remove error stutter
  storage/internal/tempdir/tempdir.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: RemoveAll() never returns ErrNotExists
  storage/internal/tempdir/tempdir.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: do not use os.IsNotExist
  storage/internal/tempdir/tempdir.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/internal/tempdir: use better assert helpers
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

cirrus: remove unused yaml anchors
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

cirrus: add global modules cache
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell
