Repository zvenigorodsky/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: Lint: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Validate: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: codespell: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

cirrus: bump up cpu count
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Move or remove the duplicated files.
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING_GO.md
  CONTRIBUTING_RUST.md
  README.md
  SECURITY.md
  common/.github/CONTRIBUTING.md
  common/.github/ISSUE_TEMPLATE.md
  common/.github/PULL_REQUEST_TEMPLATE.md
  common/.github/renovate.json5
  common/.github/workflows/validate.yml
  common/README.md
  image/.github/renovate.json5
  image/.github/workflows/check_cirrus_cron.yml
  image/.github/workflows/codespell.yml
  image/CODE-OF-CONDUCT.md
  image/CONTRIBUTING.md
  image/README.md
  image/SECURITY.md
  storage/.github/renovate.json5
  storage/CODE-OF-CONDUCT.md
  storage/CONTRIBUTING.md
  storage/README.md
  storage/SECURITY.md
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Simplify library use documentation
  image/README.md
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Update hack/get_ci_vm.sh
  image/hack/get_ci_vm.sh
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Update the gitvalidation make rule
  image/Makefile
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Update c/image package references in -X linker flag documentation
  image/Makefile
  image/docker/registries_d.go
  image/internal/tmpdir/tmpdir.go
  image/pkg/sysregistriesv2/system_registries_v2.go
  image/signature/internal/sequoia/sequoia.go
  image/signature/policy_config.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Update references to c/image in documentation and texts
  image/README.md
  image/docker/tarfile/doc.go
  image/docs/atomic-signature-embedded-json.json
  image/docs/containers-signature.5.md
  image/docs/signature-protocols.md
  image/signature/mechanism_openpgp.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Packit: initial enablement
  .packit.yaml
  common/rpm/containers-common.spec
  common/rpm/update-config-files.sh
  common/rpm/update-lib-versions.sh
Due: none

consolidate codespell CI jobs
  .cirrus.yml
  .codespelldict
  .codespellrc
  .github/workflows/common-validate.yml
  .github/workflows/image-codespell.yml
  image/.codespellrc
  storage/.codespellrc
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

rename common-validate.yml -> validate.yml
  .github/workflows/validate.yml
Due: none

update codespell to 2.4.1
  .github/workflows/common-validate.yml
Due: none

lint all modules with github action
  .github/workflows/common-validate.yml
Due: none

add git-validation gh action task
  .github/workflows/common-validate.yml
Due: none

cirrus: drop image and storage validate tasks
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

cirrus: don't test storage cross build several times
  storage/contrib/cirrus/build_and_test.sh
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

gh action: fix go caching
  .github/workflows/validate.yml
Due: none

fix start-rekor.sh flake in CI
  image/signature/sigstore/rekor/testdata/start-rekor.sh
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

add debug info for rekor setup in CI
  image/signature/sigstore/rekor/testdata/start-rekor.sh
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

cirrus: set task timeout to 20m
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Packit: custom action for copr rpm builds
  .packit-copr-rpm.sh
  .packit.yaml
Due: none

Add config to set default runtime flags
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/config_local.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_remote.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/default.go
  common/pkg/config/testdata/containers_default.conf
Due: none

renovate: drop assignees comment
  .github/renovate.json5
Due: none

renovate: schema fix
  .github/renovate.json5
Due: none

Use available constants for MIME types instead of string literals
  image/internal/image/docker_schema1.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

.github/workflows/validate.yml: use make targets
  .github/workflows/validate.yml
Due: none

Makefiles: consolidate go vendor targets
  Makefile
  common/Makefile
  image/Makefile
  storage/Makefile
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

gh action: fix git-validation workflow
  .github/workflows/validate.yml
Due: none

gh action: update actions/checkout to v5
  .github/workflows/validate.yml
Due: none

cirrus: add missing common nv setup to run all tests
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

gh action: add PR labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Due: none

common: remove go.mod retract
  common/go.mod
Due: none

CONTRIBUTING.md: say reference issue number 'or' url
  CONTRIBUTING.md
Due: none

replace old containers/common links
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  CONTRIBUTING_GO.md
Due: none

CONTRIBUTING_GO.md: fix modules to use new monorepo path
  CONTRIBUTING_GO.md
Due: none

CONTRIBUTING: add more topic headers
  CONTRIBUTING.md
  CONTRIBUTING_GO.md
Due: none

Vendor also the current c/storage and c/common into Skopeo
  .cirrus.yml
  image/contrib/cirrus/runner.sh
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

bump storage to v1.60.0
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

go.mod: update to storage v1.60.0
  common/go.mod
  common/go.sum
  image/go.mod
  image/go.sum
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo
