Repository zvenigorodsky/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage_fedora_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

storage_debian_testing:
  depends_on:
  - storage_lint
  gce_instance:
    image_name: ${VM_IMAGE}
  setup_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/setup.sh |& ${_TIMESTAMP}
  build_and_test_script: ${CIRRUS_WORKING_DIR}/${SCRIPT_BASE}/build_and_test.sh |& ${_TIMESTAMP}
  always:
    df_script: ${_DFCMD} || true
  ...

Storage: Lint:
  alias: storage_lint
  env:
    CIRRUS_WORKING_DIR: /go/src/github.com/containers/storage
  container:
    image: golang
  modules_cache:
    fingerprint_script: cat storage/go.sum
    folder: $GOPATH/pkg/mod
  build_script: 'apt-get update
  
    apt-get install -y libbtrfs-dev libsubid-dev
  
    '
  ...

Image: Validate:
  alias: image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    VM_IMAGE_NAME: ${FEDORA_CACHE_IMAGE_NAME}
  script: 'cd image
  
    git remote update
  
    make tools
  
  ...

Image: Cross:
  alias: image_cross
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    VM_IMAGE_NAME: ${FEDORA_CACHE_IMAGE_NAME}
  script: 'cd image
  
    make cross
  
    '

image_test:
  alias: image_test
  depends_on:
  - image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}/image
    GOPATH: /var/tmp/go
  matrix:
  - name: 'Image: Test'
    env:
  ...

image_test_skopeo:
  alias: image_test_skopeo
  depends_on:
  - image_validate
  gce_instance:
    image_project: libpod-218412
    zone: us-central1-f
    cpu: 2
    memory: 4Gb
    disk: 200
    image_name: ${VM_IMAGE_NAME}
  env:
    HOME: /root
    GOSRC: ${CIRRUS_WORKING_DIR}/image
    GOPATH: /var/tmp/go
    SKOPEO_CI_BRANCH: main
  ...

Storage: Cross:
  alias: storage_cross
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    make cross
  
    '

Storage: gofix:
  alias: storage_gofix
  container:
    image: golang:1.24
  build_script: 'cd storage
  
    go fix ./...
  
    '
  test_script: '# The git diff complains about broken symlinks in some test files.
  
    # We therefore filter-out these files, since they are not changed by
  
    # gofix anyway.
  
  ...

Storage: codespell:
  alias: storage_codespell
  container:
    image: python
  build_script: pip install codespell
  test_script: 'cd storage
  
    codespell
  
    '

common: disable prealloc linter for test files
  common/.golangci.yml
Due: none

common: fix new prealloc failure
  common/pkg/subscriptions/subscriptions.go
Due: none

Fix a test to actually check the value
  image/docker/archive/transport_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Don't ignore an error
  common/libnetwork/internal/util/util.go
Due: none

Avoid an unnecessary assignment
  image/copy/multiple_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Use filepath.Join(t.TempDir()) instead of manual MkdirTemp/CreateTemp
  common/libimage/push_test.go
  common/libimage/save_test.go
  common/libnetwork/etchosts/hosts_test.go
  image/docker/docker_image_src_test.go
  image/oci/archive/oci_transport_test.go
  image/pkg/docker/config/config_test.go
  image/pkg/shortnames/shortnames_test.go
  image/pkg/sysregistriesv2/shortnames_test.go
  image/pkg/sysregistriesv2/system_registries_v2_test.go
  image/sif/transport_test.go
  storage/pkg/directory/directory_test.go
  storage/pkg/lockfile/lockfile_test.go
  storage/pkg/system/rm_test.go
  storage/userns_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Fix some documentation comments
  image/internal/manifest/manifest.go
  image/manifest/manifest.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Don't use slice[:]
  storage/cmd/containers-storage/tree.go
  storage/drivers/vfs/driver.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Fix deprecation comments, and stop using the functions
  common/pkg/subscriptions/subscriptions.go
  image/docker/docker_client.go
  image/pkg/sysregistriesv2/system_registries_v2.go
  image/types/types.go
  storage/drivers/overlay/check.go
  storage/drivers/overlay/overlay.go
  storage/drivers/zfs/zfs.go
  storage/pkg/idtools/idtools.go
  storage/pkg/idtools/idtools_unix_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Fix a test
  storage/pkg/fileutils/exists_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage, overlay: replace os.IsNotExist with errors.Is
  storage/drivers/overlay/overlay.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Update to Go 1.25
  .cirrus.yml
  common/go.mod
  go.work
  image/go.mod
  storage/go.mod
  vendor/modules.txt
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use sync.WaitGroup.Go()
  common/libimage/image_test.go
  common/libimage/search.go
  common/libnetwork/cni/run_test.go
  common/libnetwork/netavark/run_test.go
  common/pkg/config/connections_test.go
  common/pkg/netns/netns_linux.go
  image/copy/single.go
  image/pkg/blobcache/dest.go
  storage/check.go
  storage/pkg/archive/archive.go
  storage/pkg/chrootarchive/archive.go
  storage/pkg/chunked/storage_linux.go
  storage/pkg/locker/locker_test.go
  storage/pkg/lockfile/lockfile_test.go
  storage/pkg/loopback/attach_test.go
  storage/pkg/supported-digests/algorithm_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use fmt.Appendf
  storage/internal/tempdir/tempdir_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Do not use omitempty on structs
  common/libimage/define/manifests.go
  common/libnetwork/types/network.go
  common/pkg/config/connections.go
  common/pkg/ssh/types.go
  image/manifest/docker_schema1.go
  image/manifest/docker_schema2.go
  image/openshift/openshift.go
  storage/containers.go
  storage/images.go
  storage/layers.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use "for range" over integers
  storage/pkg/supported-digests/algorithm_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use for over a slice to iterate over its indices
  image/directory/directory_test.go
  image/oci/layout/oci_dest_test.go
  image/pkg/blobinfocache/internal/prioritize/prioritize.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Update more code to iterate over slice indices instead of manual bounds
  image/docker/wwwauthenticate.go
  storage/pkg/chunked/compressor/compressor.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use slices.Contains
  storage/pkg/supported-digests/algorithm.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use slices.SortFunc instead of sort.Sort
  storage/pkg/archive/changes.go
  storage/pkg/archive/changes_linux.go
  storage/pkg/archive/changes_posix_test.go
  storage/pkg/archive/changes_test.go
  storage/pkg/idtools/idtools.go
  storage/pkg/idtools/idtools_supported.go
  storage/pkg/idtools/idtools_unsupported.go
  storage/pkg/idtools/usergroupadd_linux.go
  storage/pkg/mflag/flag.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use slices.SortFunc instead of sort.Slice
  common/pkg/hooks/hooks.go
  storage/check.go
  storage/layers.go
  storage/pkg/chunked/cache_linux.go
  storage/pkg/chunked/storage_linux.go
  storage/pkg/mount/mount.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use strings.Builder
  image/storage/storage_dest.go
  storage/pkg/chunked/dump/dump.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Use bytes.Cut
  common/libnetwork/resolvconf/resolvconf.go
Due: none

storage: release additional layer handler on LookupAdditionalLayer errors
  storage/store.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: add tests for LookupAdditionalLayer
  storage/additional_layer_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

libnetwork: remove CNI-specific code paths from rootless networking
  common/libnetwork/internal/rootlessnetns/netns.go
  common/libnetwork/internal/rootlessnetns/netns_freebsd.go
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/config.go
  common/libnetwork/netavark/network.go
Due: none

config: remove CNI configuration and types
  common/libnetwork/types/const.go
  common/pkg/config/config.go
  common/pkg/config/config_local_test.go
  common/pkg/config/config_remote_test.go
  common/pkg/config/config_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
  common/pkg/config/default.go
  common/pkg/config/testdata/containers_comment.conf
  common/pkg/config/testdata/containers_default.conf
  common/pkg/config/testdata/containers_invalid.conf
Due: none

libnetwork: remove CNI package
  common/libnetwork/cni/README.md
  common/libnetwork/cni/cni_conversion.go
  common/libnetwork/cni/cni_exec.go
  common/libnetwork/cni/cni_suite_test.go
  common/libnetwork/cni/cni_types.go
  common/libnetwork/cni/config.go
  common/libnetwork/cni/config_freebsd.go
  common/libnetwork/cni/config_linux.go
  common/libnetwork/cni/config_test.go
  common/libnetwork/cni/network.go
  common/libnetwork/cni/run.go
  common/libnetwork/cni/run_freebsd.go
  common/libnetwork/cni/run_linux.go
  common/libnetwork/cni/run_test.go
  common/libnetwork/cni/testfiles/invalid/broken.conflist
  common/libnetwork/cni/testfiles/invalid/invalid_gateway.conflist
  common/libnetwork/cni/testfiles/invalid/invalidname.conflist
  common/libnetwork/cni/testfiles/invalid/noname.conflist
  common/libnetwork/cni/testfiles/invalid/noplugin.conflist
  common/libnetwork/cni/testfiles/invalid/samename1.conflist
  common/libnetwork/cni/testfiles/invalid/samename2.conflist
  common/libnetwork/cni/testfiles/valid/87-podman.conflist
  common/libnetwork/cni/testfiles/valid/bridge.conflist
  common/libnetwork/cni/testfiles/valid/dualstack.conflist
  common/libnetwork/cni/testfiles/valid/internal.conflist
  common/libnetwork/cni/testfiles/valid/ipam-empty.conflist
  common/libnetwork/cni/testfiles/valid/ipam-none.conflist
  common/libnetwork/cni/testfiles/valid/ipam-static.conflist
  common/libnetwork/cni/testfiles/valid/isolate.conflist
  common/libnetwork/cni/testfiles/valid/label.conflist
  common/libnetwork/cni/testfiles/valid/macvlan.conflist
  common/libnetwork/cni/testfiles/valid/macvlan_mtu.conflist
  common/libnetwork/cni/testfiles/valid/mtu.conflist
  common/libnetwork/cni/testfiles/valid/vlan.conflist
Due: none

libnetwork: remove CNI network backend selection logic
  common/libnetwork/network/interface.go
  common/libnetwork/network/interface_cni.go
  common/libnetwork/network/interface_cni_unsupported.go
  common/libnetwork/network/interface_freebsd.go
  common/libnetwork/network/interface_linux.go
Due: none

Makefile: remove CNI build infrastructure
  common/.golangci.yml
  common/Makefile
Due: none

docs: update documentation to remove CNI references
  common/docs/containers.conf.5.md
  common/libnetwork/netavark/config_test.go
  common/libnetwork/netavark/ipam_test.go
  common/libnetwork/netavark/run_test.go
Due: none

netns: inline containernetworking/plugins/pkg/ns
  common/libnetwork/internal/rootlessnetns/netns_linux.go
  common/libnetwork/netavark/run_test.go
  common/libnetwork/pasta/pasta_linux.go
  common/libnetwork/slirp4netns/slirp4netns.go
  common/pkg/netns/netns_linux.go
Due: none

go.mod: remove containernetworking dependencies
  common/go.mod
  common/go.sum
  vendor/github.com/containernetworking/cni/LICENSE
  vendor/github.com/containernetworking/cni/libcni/api.go
  vendor/github.com/containernetworking/cni/libcni/conf.go
  vendor/github.com/containernetworking/cni/pkg/invoke/args.go
  vendor/github.com/containernetworking/cni/pkg/invoke/delegate.go
  vendor/github.com/containernetworking/cni/pkg/invoke/exec.go
  vendor/github.com/containernetworking/cni/pkg/invoke/find.go
  vendor/github.com/containernetworking/cni/pkg/invoke/os_unix.go
  vendor/github.com/containernetworking/cni/pkg/invoke/os_windows.go
  vendor/github.com/containernetworking/cni/pkg/invoke/raw_exec.go
  vendor/github.com/containernetworking/cni/pkg/types/020/types.go
  vendor/github.com/containernetworking/cni/pkg/types/040/types.go
  vendor/github.com/containernetworking/cni/pkg/types/100/types.go
  vendor/github.com/containernetworking/cni/pkg/types/args.go
  vendor/github.com/containernetworking/cni/pkg/types/create/create.go
  vendor/github.com/containernetworking/cni/pkg/types/internal/convert.go
  vendor/github.com/containernetworking/cni/pkg/types/internal/create.go
  vendor/github.com/containernetworking/cni/pkg/types/types.go
  vendor/github.com/containernetworking/cni/pkg/utils/utils.go
  vendor/github.com/containernetworking/cni/pkg/version/conf.go
  vendor/github.com/containernetworking/cni/pkg/version/plugin.go
  vendor/github.com/containernetworking/cni/pkg/version/reconcile.go
  vendor/github.com/containernetworking/cni/pkg/version/version.go
  vendor/github.com/containernetworking/plugins/LICENSE
  vendor/github.com/containernetworking/plugins/pkg/ns/README.md
  vendor/github.com/containernetworking/plugins/pkg/ns/ns_linux.go
  vendor/modules.txt
Due: none

netns: reorder inlined code for logical grouping
  common/pkg/netns/netns_linux.go
Due: none

common/pkg/json-proxy: extract proxy library from skopeo
  common/pkg/json-proxy/handler.go
  common/pkg/json-proxy/proxy.go
  common/pkg/json-proxy/proxy_unix.go
  common/pkg/json-proxy/types.go
  common/pkg/json-proxy/types_unix.go
  common/pkg/json-proxy/utils.go
Due: none

common/pkg/json-proxy: add integration tests and test server
  common/Makefile
  common/cmd/json-proxy-test-server/main.go
  common/pkg/json-proxy/proxy_test.go
Due: none

CI: run json-proxy integration tests in common_testing
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/types: remove Save() and StorageConfig()
  storage/types/options.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Revert "Ignore failure to ignore thinpool keys"
  storage/pkg/config/config.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage/types: rework config files parsing
  storage/cmd/containers-storage/config.go
  storage/store.go
  storage/types/options.go
  storage/types/options_bsd.go
  storage/types/options_darwin.go
  storage/types/options_linux.go
  storage/types/options_test.go
  storage/types/options_windows.go
  storage/types/storage_test.conf
  storage/types/utils.go
  storage/types/utils_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: Lint: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Validate: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: codespell: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
