Repository zvenigorodsky/container-libs: changes, and which Cirrus tasks are due for each by the changed paths.
All: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Path conditions:
  storage_fedora_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  storage_debian_testing: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: Lint: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Image: Validate: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Image: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  image_test_skopeo: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**, image/**)
  Storage: Cross: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: gofix: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)
  Storage: codespell: (any of: .cirrus.yml, go.work, go.work.sum) or (any of: storage/**)

common/pkg/config: use systemd.RunsOnSystemd()
  common/pkg/config/systemd.go
Due: none

Update CI image
  .cirrus.yml
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Add fields for TLS material to destination config
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/connections_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

run go work sync
  common/go.mod
  common/go.sum
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

codespell: skip go.sum and go.work.sum files
  .codespellrc
Due: none

storage: remove aufs driver
  storage/contrib/cirrus/build_and_test.sh
  storage/docs/containers-storage.conf.5.md
  storage/drivers/aufs/aufs.go
  storage/drivers/aufs/aufs_test.go
  storage/drivers/aufs/dirs.go
  storage/drivers/aufs/mount.go
  storage/drivers/aufs/mount_linux.go
  storage/drivers/driver_linux.go
  storage/drivers/fsdiff.go
  storage/drivers/register/register_aufs.go
  storage/pkg/config/config.go
  storage/pkg/config/config_test.go
  storage/tests/test_drivers.bash
  storage/types/options_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

.github: add workflow to open downstream PR
  .github/workflows/opendownstream-pr.yml
Due: none

.github: opendownstream PR specifiy original repo
  .github/workflows/opendownstream-pr.yml
Due: none

.github/opendownstream: check if remote branch was pushed
  .github/workflows/opendownstream-pr.yml
Due: none

.github/opendownstream: fix check exisiting PR
  .github/workflows/opendownstream-pr.yml
Due: none

Add a test for conversion of v2s2 zstd layers to OCI
  image/internal/image/fixtures/schema2-all-media-types-to-oci1.json
  image/internal/image/fixtures/schema2-all-media-types.json
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Disable the "Open downstream PRs" action
  .github/workflows/opendownstream-pr.yml
Due: none

tls: remote "file" from field names
  common/docs/containers.conf.5.md
  common/pkg/config/config.go
  common/pkg/config/connections_test.go
  common/pkg/config/containers.conf
  common/pkg/config/containers.conf-freebsd
Due: none

fix golangci-lint errors with v2.5.0
  common/pkg/report/formatter.go
  common/pkg/ssh/utils.go
  storage/drivers/fsdiff.go
  storage/layers.go
  storage/pkg/archive/archive_linux.go
  storage/pkg/archive/archive_unix.go
  storage/pkg/archive/archive_windows.go
  storage/pkg/archive/changes.go
  storage/pkg/archive/changes_windows.go
  storage/pkg/archive/copy.go
  storage/pkg/archive/copy_unix_test.go
  storage/pkg/archive/diff_test.go
  storage/pkg/archive/time_linux.go
  storage/pkg/archive/wrap.go
  storage/pkg/chunked/filesystem_linux.go
  storage/pkg/chunked/storage_linux.go
  storage/pkg/directory/directory_unix.go
  storage/pkg/directory/directory_windows.go
  storage/pkg/ioutils/bytespipe.go
  storage/pkg/ioutils/readers.go
  storage/pkg/ioutils/writers.go
  storage/pkg/pools/pools.go
  storage/pkg/system/exitcode.go
  storage/pkg/system/stat_netbsd.go
  storage/pkg/system/xattrs_freebsd.go
  storage/pkg/truncindex/truncindex.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

simplify named returns further
  storage/drivers/fsdiff.go
  storage/pkg/archive/archive.go
  storage/pkg/archive/archive_linux.go
  storage/pkg/archive/archive_unix.go
  storage/pkg/archive/archive_windows.go
  storage/pkg/archive/changes.go
  storage/pkg/archive/changes_windows.go
  storage/pkg/archive/copy.go
  storage/pkg/archive/copy_unix_test.go
  storage/pkg/archive/diff_test.go
  storage/pkg/archive/wrap.go
  storage/pkg/directory/directory_unix.go
  storage/pkg/directory/directory_windows.go
  storage/pkg/ioutils/bytespipe.go
  storage/pkg/ioutils/writers.go
  storage/pkg/pools/pools.go
  storage/pkg/truncindex/truncindex.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

.gitignore: add go.work.sum
  .gitignore
  go.work.sum
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

storage: Ensure file flags are reset before removing temp dir
  storage/internal/tempdir/tempdir.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Be more explicit about the port part of a certificate directory
  image/docs/containers-certs.d.5.md
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

.gitignore: vendor dir
  .gitignore
Due: none

Test cleartext signature support in gpgme and sequoia backends
  image/signature/fixtures/invalid-cleartext.signature
  image/signature/mechanism_gpgme_test.go
  image/signature/mechanism_sequoia_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

storage: Add pkg/supported-digests
  storage/pkg/supported-digests/algorithm.go
  storage/pkg/supported-digests/algorithm_test.go
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

opendownstream-PR: improve PR description
  .github/workflows/opendownstream-pr.yml
Due: none

common: add libartifact
  common/pkg/libartifact/artifact.go
  common/pkg/libartifact/store/config.go
  common/pkg/libartifact/store/store.go
  common/pkg/libartifact/types/config.go
  common/pkg/libartifact/types/errors.go
Due: none

Allow artifact add to override org.opencontainers.image.title annotation
  common/pkg/libartifact/store/store.go
Due: none

Bump storage to v1.61.0
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

Vendor storage v1.61.0
  image/go.mod
  image/go.sum
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Bump image to v5.38.0
  image/version/version.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

Bump storage to v1.61.0, image to v5.38.0 in common
  common/go.mod
  common/go.sum
Due: none

Bump common to v0.66.0
  common/version/version.go
Due: none

Bump everything to -dev
  common/version/version.go
  image/version/version.go
  storage/VERSION
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

opendownstreamPR: Fix comment about checkout
  .github/workflows/opendownstream-pr.yml
Due: none

opendownstream-pr.yml: render breaklines correctly
  .github/workflows/opendownstream-pr.yml
Due: none

gh action: add go tidy check
  .github/workflows/validate.yml
  hack/tree_status.sh
  storage/hack/tree_status.sh
Due: storage_fedora_testing, storage_debian_testing, Storage: Lint, Image: Validate, Image: Cross, image_test, image_test_skopeo, Storage: Cross, Storage: gofix, Storage: codespell

common: abort load on ENOSPEC and output clear error
  common/libimage/load.go
Due: none

Link to Podman's LLM policy
  CONTRIBUTING.md
Due: none

copy: add InstancePlatforms field for platform-based filtering
  image/copy/copy.go
  image/copy/multiple.go
  image/copy/multiple_test.go
Due: Image: Validate, Image: Cross, image_test, image_test_skopeo

seccomp: allow all futex_* syscalls
  common/pkg/seccomp/default_linux.go
  common/pkg/seccomp/seccomp.json
Due: none

Support multiple static IPs and validate subnets
  common/libnetwork/internal/util/validate.go
  common/libnetwork/netavark/config_test.go
  common/libnetwork/netavark/ipam.go
  common/libnetwork/netavark/ipam_test.go
Due: none
